body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}

.navbar {
  background-color:#E22C40;
  padding: 1rem 5.4rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  z-index: 1000;
}
.login-box {
  background-color: #E22C40;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 32px 48px 46px rgba(0, 0, 0, 0.3);
  width: 320px;
  margin-left: 40%;
  margin-top:1vh;  
  color: #fff;
  text-align: center;

}


.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  padding: 5px 0;
  transition: color 0.3s ease;
}

.nav-links li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  transition: width 0.3s ease-in-out;
}

.nav-links li a:hover {
  color: #ffffff;
}

.nav-links li a:hover::after {
  width: 100%;
}

.user-menu-container {
  position: relative;
  cursor: pointer;
}

.user-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #1abc9c;
  transition: transform 0.3s ease;
}

.user-icon:hover {
  transform: scale(1.1);
}

.dropdown-menu {
  position: absolute;
  top: 48px;
  right: 0;
  background-color: #333;
  border: 1px solid #444;
  border-radius: 6px;
  display: none;
  flex-direction: column;
  min-width: 100px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  z-index: 100;
}

.dropdown-menu a {
  color: white;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  display: block;
  transition: background 0.3s;
}

.dropdown-menu a:hover {
  background-color: #1abc9c;
}


@media (max-width: 900px) {
  .menu-toggle {
    display: flex;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    display: none;
    background-color: #333;
    margin-top: 15px;
    padding: 10px 0;
    border-radius: 6px;
  }

  .nav-links li {
    text-align: center;
    padding: 10px 0;
  }

  .nav-links.show {
    display: flex;
    animation: slideDown 0.3s ease forwards;
  }

  @keyframes slideDown {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}

h2 {
  color:#ffffff;
  text-align: center;
  margin-left: 6%;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.linha {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
}

.campo {
  flex: 1;
}

input {
  width: 80%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  transition: 0.3s;
  box-shadow: 0px 18px 26px rgba(0, 0, 0, 0.3);
}

input[type="password"]:hover {
  border-color: #7d7c7c;
}

button {
  background-color: rgb(255, 255, 255);
  color:#E22C40;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: block;
  margin: 20px auto 0 auto;
}

button:hover {
  background-color: rgb(0, 0, 0);
}
footer {
  width: 100%;
  background-color: #E22C40;
  color: #ffffff;
  text-align: center;
  padding: 20px 20px 20px 40px;
  font-size: 16px;
  font-weight: 500%;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.2);
  margin-top: auto;
  height: 20vh;
  width: 202vh;
}


